In [3]:
import pandas as pd
import numpy as np

In [4]:
path = "data_share/data_share/datagen_new1_seed42/pums_random_error2080_nativity_ver1_newFDs"
dirty_4000_1 = pd.read_csv(path + "/4000_0.1_dirty.csv")
clean_4000_1 = pd.read_csv(path + "/4000_0.1_clean.csv")

dirty_4000_05 = pd.read_csv(path + "/4000_0.05_dirty.csv")
clean_4000_05 = pd.read_csv(path + "/4000_0.05_clean.csv")

dirty_6000_05 = pd.read_csv(path + "/6000_0.05_dirty.csv")
clean_6000_05 = pd.read_csv(path + "/6000_0.05_clean.csv")

In [25]:
def cleanUp(clean, cols):
    corrections = pd.DataFrame(columns=["tid", "attribute", "correct_val"])
    k = 0
    for i in range(len(clean)):
        for c in cols:
            if str(clean.loc[i,c+"_dirty"])!="nan":
                corrections.loc[k, "tid"] = i
                corrections.loc[k, "attribute"]=c
                corrections.loc[k, "correct_val"] = str(clean.loc[i,c])
                k+=1
    return corrections

In [41]:
clean["RAC1P"].value_counts()

RAC1P
1    3959
9     692
2     536
6     370
8     359
3      63
5       8
7       7
4       6
Name: count, dtype: int64

In [44]:
dirty["RAC1P"].value_counts()

RAC1P
1    3826
9     689
2     556
8     358
6     351
3      95
4      48
5      40
7      37
Name: count, dtype: int64

In [45]:
repaired["RAC1P"].value_counts()

RAC1P
1    4042
9     673
2     523
6     349
8     348
3      44
5       9
7       8
4       4
Name: count, dtype: int64

In [48]:
print(63+8+7+6)
print(84/6000)
print()

print(95+48+40+27)
print(210/6000)
print()

print(44+8+9+4)
print(65/6000)

84
0.014

210
0.035

65
0.010833333333333334

In [31]:
cols = ["REGION", "ST", "CIT", "NATIVITY", "RAC1P", "RAC2P", "POBP", "WAOB"]

clean_4000_1_new = cleanUp(clean_4000_1, cols)
clean_4000_05_new = cleanUp(clean_4000_05, cols)
clean_6000_05_new = cleanUp(clean_6000_05, cols)

In [32]:
dirty_4000_1 = dirty_4000_1.drop("ID", axis=1)
dirty_4000_05 = dirty_4000_05.drop("ID", axis=1)
dirty_6000_05 = dirty_6000_05.drop("ID", axis=1)

dirty_4000_1.to_csv("holoclean/testdata/4000_0.1_dirty.csv", index=False)
dirty_4000_05.to_csv("holoclean/testdata/4000_0.05_dirty.csv", index=False)
clean_4000_1_new.to_csv("holoclean/testdata/4000_0.1_clean.csv", index=False)
clean_4000_05_new.to_csv("holoclean/testdata/4000_0.05_clean.csv", index=False)

dirty_6000_05.to_csv("holoclean/testdata/6000_0.05_dirty.csv", index=False)
clean_6000_05_new.to_csv("holoclean/testdata/6000_0.05_clean.csv", index=False)

In [28]:
clean = pd.read_csv("pums_random_error2080_nativity_ver1_newFDs/6000_0.05_clean.csv")
dirty = pd.read_csv("pums_random_error2080_nativity_ver1_newFDs/6000_0.05_dirty.csv")
repaired = pd.read_csv("pums_random_error2080_nativity_ver1_newFDs/6000_0.05_repaired.csv")

cols = ["REGION", "ST", "CIT", "NATIVITY", "RAC1P", "RAC2P", "POBP", "WAOB"]

repaired = repaired.drop("_tid_", axis=1)
corrections = cleanUp(clean, cols)
dirty = dirty.drop("ID", axis=1)
clean = clean.iloc[:, :-9]

In [29]:
corrections

       tid attribute correct_val
0        0     RAC1P           6
1        2    REGION           3
2        2     RAC2P          55
3        3     RAC1P           9
4        4     RAC1P           6
...    ...       ...         ...
2395  5970  NATIVITY           1
2396  5982      WAOB           1
2397  5990        ST          42
2398  5992        ST          36
2399  5999     RAC2P           1

[2400 rows x 3 columns]

In [32]:
# calculte precision, recall?

# get the number of total corrections made
# get the number of cells that were correctly repaired on them
# get the number of cells that were incorrectly repaired
# get the number of total correct repair
# get the number of total correct repairs made

def get_total_incorrect_repairs(repaired, dirty, clean):
    total_repair_count = 0
    incorrect_repair_count = 0

    for i in range(len(repaired)):
        for c in repaired.columns:
            if repaired.loc[i, c]!=dirty.loc[i,c]:
                total_repair_count+=1
            if repaired.loc[i,c]!=dirty.loc[i,c] and repaired.loc[i, c]!=clean.loc[i,c]:
                 incorrect_repair_count+=1
                    
    return total_repair_count, incorrect_repair_count


def correct_repairs(corrections, repaired, dirty):
    correct_repair_count = 0 
    incorrect_cells_touched = 0
    incorrect_cells_not_touched = 0
    for i in range(len(corrections)):
        tid = corrections.loc[i, "tid"]
        attr = corrections.loc[i, "attribute"]
        correct = corrections.loc[i, "correct_val"]
    
        if str(repaired.loc[tid, attr])==str(correct):
            correct_repair_count+=1
        if repaired.loc[tid, attr]!=dirty.loc[tid, attr] and repaired.loc[tid, attr]!=correct:
            incorrect_cells_touched+=1
        if repaired.loc[tid, attr]==dirty.loc[tid, attr]:
            incorrect_cells_not_touched +=1
    incorrect_cells_touched+=correct_repair_count
    return correct_repair_count, incorrect_cells_touched, incorrect_cells_not_touched

total_repair_count, incorrect_repair_count = get_total_incorrect_repairs(repaired, dirty, clean)
correct_repair_count, incorrect_cells_touched, incorrect_cells_not_touched = correct_repairs(corrections, repaired, dirty)
print(f"Total Repair Count: {total_repair_count}")
print(f"Incorrect Repair Count: {incorrect_repair_count}")
print(f"Correct Repair Count: {correct_repair_count}")
print(f"Incorrect Cells Touched: {incorrect_cells_touched}")
print(f"Incorrect Cells Not Touched: {incorrect_cells_not_touched}")

Total Repair Count: 3325
Incorrect Repair Count: 1838
Correct Repair Count: 1487
Incorrect Cells Touched: 3256
Incorrect Cells Not Touched: 631

In [35]:
print("Recall", 1487/len(corrections))
print("Repair Recll", 1487/3256)

Recall 0.6195833333333334
Repair Recll 0.4566953316953317

In [37]:
print(len(corrections))

2400

In [ ]:
def recall(c)

In [13]:
dirty = pd.read_csv("holoclean/testdata/hospital.csv")
dirty = pd.read_csv("holoclean/testdata/4000_0.1_dirty.csv")
len(set(dirty["ID"]))

4000